body {
    background-color: #000000;  
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: #4010b1;                
    text-align: left;      
    margin: -1;
    padding: 20px;
}
img{ width: 500px;height: auto;
}
