html {
    scroll-behavior: smooth;
}

:root{
    --primary: #03506E;
    --secondary: #49C8FC;
    --accent: #49c8fc;
    }

    body {
        margin: 0;
        font-family: 'Biryani', sans-serif;
        color: #EEE;
        background-image: url('pexels-kevin-ku-577585.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

header {
    background-color: #555;
    padding: 20px;
    color: #EEE;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: rgb(0, 206, 209);
    margin-right: 10px;
}

header p {
    margin: 0;
    letter-spacing: 2px;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav a {
    color: #EEE;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(0, 206, 209);
}

#webbdev {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.textContainer {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

.A {
    color: white;
}

.B {
    color: rgb(0, 206, 209);
}

.white-section {
    background-color: white;
    color: #333;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.content-box {
    max-width: 800px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.cyan-text {
    color: rgb(0, 206, 209);
}


footer {
    background-color: #555;
    color: #EEE;
    text-align: center;
    padding: 40px 20px;
}



footer h3 {
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}

footer p {
    margin: 5px 0;
    font-style: italic;
}

*{
    scrollbar-color: 
    var(--accent) var(--primary);
    scrollbar-width: thin;
 }
 
 ::-webkit-scrollbar{
   width: 12px;
 }
 
 ::-webkit-scrollbar-thumb{
    background: var(--accent);
    border-radius: 6px;
    border: 3px solid var(--primary);
 }
 
 ::-webkit-scrollbar-track{
    background: var(--primary);
 }